In [2]:
#Write a  Python program to create a tuple.
t=tuple((1,23,4,"apple","banana","cherry"))
print(t)
print(type(t))

(1, 23, 4, 'apple', 'banana', 'cherry')
<class 'tuple'>

In [4]:
#Write a Python program to create a tuple with different data types
t=("apple",1,False)
print(t)
print(type(t))

('apple', 1, False)
<class 'tuple'>

In [6]:
#Write a Python program to create a tuple of numbers and print one item
x=1,2,3,4
print(tuple(x))

(1, 2, 3, 4)

In [7]:
#Write a Python program to unpack a tuple into several variables.
x=("apple","cherry","usha")
(usha,good,girl)=x
print(usha)
print(good)
print(girl)

apple
cherry
usha

In [9]:
#Write a Python program to convert a tuple to a string
s=("usha")
x=str(s)
print(x)
print(type(x))

usha
<class 'str'>

In [10]:
#Write a Python program to get the 4th element from the last element of a tuple.
t=("usha","pinky","aishu","raju","rekha","ratna")
t[-4]

'aishu'

In [17]:
#Write a Python program to create the colon of a tuple
x=(1,2,3,4,5)
y= ':'.join(map(str,x))
print(y)

1:2:3:4:5

In [24]:
#Write a Python program to find repeated items in a tuple.
t=("a","b","a","c","d","e","b","c")
t1=()
t2=()
for i in t:
    if i not in t1:
        t1+=(i,)
    else:
        t2+=(i,)
print(t2)

('a', 'b', 'c')

In [28]:
#Write a Python program to check whether an element exists within a tuple
t=("usha","pinky","aishu","raju","rekha","ratna")
print("usha" in t)

True

In [29]:
# Write a Python program to convert a list to a tuple
l=[1,2,3,4,5]
x=tuple(l)
print(x)

(1, 2, 3, 4, 5)

In [36]:
#Write a Python program to remove an item from a tuple
t=(1, 2, 3, 4, 5)
l=list(t)
l.remove(4)
t=tuple(l)
print(t)

(1, 2, 3, 5)

In [38]:
#Write a Python program to slice a tuple
t=("usha","pinky","aishu","raju","rekha","ratna")
x=t[3:5]
x

('raju', 'rekha')

In [42]:
#Write a Python program to find the index of an item in a tuple
t=("usha","pinky","aishu","raju","rekha","ratna")
t.index("pinky")

1

In [43]:
#Write a Python program to find the length of a tuple
t=("usha","pinky","aishu","raju","rekha","ratna")
len(t)

6

In [48]:
#Write a Python program to convert a tuple to a dictionary.
t=((1,2),(3,4))
y=dict((i,j)for i,j in t)
#orr
y=dict(t)
y

{1: 2, 3: 4}

In [49]:
#Write a Python program to unzip a list of tuples into individual lists
l = [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
list1,list2=zip(*l)
list1=list(list1)
list2=list(list2)
print(list1)
print(list2)

[1, 2, 3, 4]
['a', 'b', 'c', 'd']

In [53]:
#Write a Python program to reverse a tuple
t=(1, 2, 3, 4, 5)
l=list(t)
l.reverse()
t=tuple(l)
t

(5, 4, 3, 2, 1)

In [54]:
#Write a Python program to convert a list of tuples into a dictionary.
l = [("a", 1), ("b", 2), ("c", 3), ("d", 4)]
x=dict(l)
x

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [58]:
# Write a Python program to print a tuple with string formatting.
t=("usha",23)
output="{}, {}".format(t[0],t[1])
output

'usha, 23'

In [62]:
#Write a Python program to replace the last value of tuples in a list.
l= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1]+(100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [71]:
#Write a Python program to remove an empty tuple(s) from a list of tuples.
l=[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
[t for t in l if t]

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [76]:
#Write a Python program to sort a tuple by its float element.
data=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
y=sorted(data,key=lambda x:float(x[-],reverse=True))
print(y)

SyntaxError: invalid syntax (1499453960.py, line 3)